body {
    background-color:blue;

}

header {
    text-align:center;
    border:5px solid white;
    background-color:rgb(125, 125, 255);
    font-size:30px;
    border-radius:50px;
    color:rgb(255, 255, 255);
    box-shadow:0px 0px 8px 8px white;
    text-shadow:0px 0px 6px black;
    transition: 1.5s;
}

header:hover {
    border: 5px solid black;
    box-shadow: 0px 0px 8px 8px black;
    text-shadow: 0px 0px 6px white;
}

h1 {
    text-align:center;
    background-color:rgb(4, 36, 218);
    border:5px solid white;
    border-radius:50px;
    color:white;
    box-shadow: 0px 0px 8px 8px white;
    text-shadow: 0px 0px 6px black;
    transition: 1.5s;
}

h1:hover {
    text-align:center;
    border:5px solid rgb(0, 0, 0);
    border-radius:50px;
    box-shadow: 0px 0px 8px 8px black;
    text-shadow: 0px 0px 6px rgb(255, 255, 255);
}

h3 {
    background-color:rgb(40, 114, 242);
    color:white;
    border-radius:50px;
    font-size:25px;
    text-align:center;
    box-shadow: 0 0 8px 8px rgb(142, 142, 255);
    text-shadow:0 0 6px;
    margin:10px;
    padding:10px;
    transition:1s
}

h3:hover {
    background-color:rgb(40, 114, 242);
    color:white;
    border-radius:25px;
    font-size:25px;
    text-align:center;
    box-shadow: 0 0 8px 8px rgb(1, 1, 102);
    text-shadow:0 0 6px black;
}

a {
    background-color:rgb(216, 216, 216);
    border-radius:10px;
    font-size:25px;
    box-shadow: 0 0 8px 8px rgb(141, 140, 142);
    text-decoration:none;
}

a:hover {
    box-shadow: 600px 33px 0 120px blue;
}

img {
    height:60px;
    width:60px;
}

img:hover {
    box-shadow: -430px 180px 0px 110px rgb(10, 2, 2);
}
