body {
    font-family: sans-serif;
    background-color:rgb(0, 0, 0);
}

header {
    background-color:rgb(6, 106, 255);
    text-align:center;
    font-size:25px;
    color:rgb(22, 253, 2);
    border-radius:1000px;
    box-shadow: 0 0 10px 8px;
    transition:2s linear;
}

header:hover {
    color:blue;
    background-color:rgb(147, 0, 252);
}

h1 {
    color:rgb(255, 208, 0);
    text-align:center;
    background-image: linear-gradient(rgb(255, 84, 41),rgb(255, 145, 0));
    border-top:10px dotted rgb(255, 238, 0);
    border-bottom:10px dotted rgb(225, 255, 0);
    box-shadow: 0px 0px 10px 8px rgb(248, 17, 1);
    border-radius:10px;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
    transition: 1.5s linear;
}

h1:hover {
    background-image: linear-gradient(rgb(236, 126, 0),rgb(255, 230, 0));
    border-top:10px dotted rgb(255, 145, 0);
    border-bottom:10px dotted rgb(255, 174, 0);
    border-left:10px dotted rgb(255, 0, 0);
    border-right:10px dotted rgb(255, 0, 0);
    box-shadow: 0px 0px  10px 8px hsl(21, 100%, 50%);
    color:rgb(245, 80, 3);
    text-shadow: 5px 5px 8px rgb(0, 0, 0);
    transition: 1.5s linear;
}

.slime {
    color:rgb(209, 178, 1);
    box-shadow:0px 0px 10px 8px rgb(0, 183, 255);
    text-align:center;
    background-color:rgb(0, 68, 255);
    border:3px solid rgb(0, 110, 255);
    border-radius:10px;
    text-shadow: 5px 5px 3px rgb(0, 0, 0);
    transition: 5s linear;
}

.slime:hover {
    box-shadow: 0px 0px 10px 8px rgb(171, 2, 255);
    background-color:purple;
    color:rgb(43, 255, 0);
    border:5px solid rgb(202, 0, 253);
    transition: 5s linear;
}

.cat {
    color:rgb(255, 115, 0);
    box-shadow:0px 0px 10px 8px rgb(0, 183, 255);
    text-align:center;
    background-color:rgb(32, 133, 235);
    border:3px solid rgb(0, 110, 255);
    border-radius:10px;
    text-shadow: 5px 5px 3px rgb(0, 0, 0);
    transition: 5s linear;
}

.cat:hover {
    box-shadow: 0px 0px 10px 8px rgb(242, 255, 2);
    background-color:rgb(164, 55, 0);
    color:rgb(0, 204, 255);
    border:5px solid rgb(240, 253, 0);
    transition: 5s linear;
}

.hello {
    color:rgb(0, 110, 255);
    box-shadow:0px 0px 10px 8px rgb(255, 157, 0);
    text-align:center;
    background-color:rgb(139, 60, 0);
    border:3px solid rgb(0, 110, 255);
    border-radius:10px;
    text-shadow: 5px 5px 3px rgb(0, 0, 0);
    transition: 5s linear;
}

.hello:hover {
    box-shadow: 0px 0px 10px 8px rgb(2, 133, 255);
    background-color:rgb(0, 128, 174);
    color:rgb(160, 45, 0);
    border:5px solid rgb(42, 0, 253);
    transition: 5s linear;
}

.repo {
    color:rgb(255, 132, 0);
    box-shadow:0px 0px 10px 8px rgb(149, 130, 100);
    text-align:center;
    background-color:rgb(123, 123, 123);
    border:3px solid rgb(255, 123, 0);
    border-radius:10px;
    text-shadow: 5px 5px 3px rgb(0, 0, 0);
    transition: 5s linear;
}

.repo:hover {
    box-shadow: 0px 0px 10px 8px rgb(2, 133, 255);
    background-color:rgb(0, 128, 174);
    color:rgb(160, 45, 0);
    border:5px solid rgb(42, 0, 253);
    transition: 5s linear;
}

.ink {
    color:rgb(0, 0, 0);
    box-shadow:0px 0px 10px 8px rgb(72, 72, 72);
    text-align:center;
    background-color:rgb(196, 165, 108);
    border:3px solid rgb(99, 99, 99);
    border-radius:10px;
    text-shadow: 5px 5px 3px rgb(33, 33, 33);
    transition: 5s linear;
}

.ink:hover {
    box-shadow: 0px 0px 10px 8px rgb(255, 255, 255);
    background-color:rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    border:5px solid rgb(127, 127, 129);
    transition: 5s linear;
}

.portal {
    color:rgb(145, 70, 0);
    box-shadow:0px 0px 10px 8px rgb(112, 112, 112);
    text-align:center;
    background-color:rgba(8, 86, 122, 0.418);
    border:3px solid rgb(153, 139, 9);
    border-radius:10px;
    text-shadow: 5px 5px 3px rgb(33, 33, 33);
    transition: 5s linear;
}

.portal:hover {
    box-shadow: 0px 0px 10px 8px rgb(20, 65, 124);
    background-color:rgb(7, 15, 129);
    color:rgb(101, 138, 0);
    border:5px solid rgb(34, 34, 209);
    transition: 5s linear;
}

.rock {
    color:rgb(154, 122, 86);
    box-shadow:0px 0px 10px 8px rgb(112, 112, 112);
    text-align:center;
    background-color:rgba(122, 78, 8, 0.418);
    border:3px solid rgb(135, 85, 56);
    border-radius:10px;
    text-shadow: 5px 5px 3px rgb(107, 107, 107);
    transition: 5s linear;
}

.rock:hover {
    box-shadow: 0px 0px 10px 8px rgb(137, 107, 49);
    background-color:rgb(153, 105, 8);
    color:rgb(67, 67, 67);
    border:5px solid rgb(130, 116, 82);
    text-shadow: 5px 5px 8px rgb(255, 255, 255);
    transition: 5s linear;
}

img {
    height:100px;
    float:left;
    margin:10px;
    opacity: 0.5;
    border-radius:10px;
    transition: 1s linear;
}

iframe {
    border:5px double rgb(223, 208, 2);
    margin:5px;
    opacity: 0.8;
}

iframe:hover {
    border:5px solid yellow;
    margin:6px;
    opacity: 1;
}

img:hover {
    opacity: 1;
    border:3px solid rgb(18, 1, 255);
    transform: scale(1.45) translateX(19px);
}

footer {
    background-color:black;
    color:rgb(255, 254, 254);
    box-shadow: 0px 0px 10px 1px white;
}
